<div class="title">Adicionar Novo Comentário</div>

<div class="add-comment-section">
  <div
    class="add-comment-box"
    contenteditable="true"
    #commentContentEditable
  ></div>
  <button class="button" (click)="createComment()">Adicionar Comentário</button>
</div>
<ng-container *ngIf="comments.length > 0">
  <div class="title">Todos os comentário</div>
  <tks-comment
    *ngFor="let comment of comments; let index = index"
    [comment]="comment"
    [user]="user"
    (outUpdateComment)="updateComment(index, $event)"
  ></tks-comment>
</ng-container>
