/* You can add global styles to this file, and also import other style files */

/* side-nav */
.side-nav {
    display: block;
    max-width: 300px;
}
.side-nav .navigation-section__item {
    display: flex;
    flex-direction: column;
}

.side-nav .navigation-section__item tks-navigation-item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;    
    cursor: pointer;
    border-left: 0.3rem solid transparent;
    font-weight: 700;
    background-color: rgba(24, 23, 23, 0.9);
    color: white;

}

.navigation-section__item--active {
    border-left: 0.3rem solid orangered!important;
    color: orangered!important;
}

.active {
    border-bottom: 3px solid orangered;
}

.tab-container {
    display: flex;
    list-style: none;
    padding: 0px;
}

.tab-container__item {
    background-color: #c6c6c6;
    margin: 0;    
}

.button-container {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0px;
    border-bottom: 3px solid transparent;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.button-container:hover {
    background-color: orangered;
}

.button-container--active {
    border-bottom: 3px solid orangered;
    font-weight: 700;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}