/* You can add global styles to this file, and also import other style files */

/* side-nav */
.side-nav {
    display: block;
    background-color: rgb(43, 153, 243);
    max-width: 300px;
}
.side-nav tks-user-area {
    display: flex;
    flex-direction: row;
}

.side-nav .profile {
    max-width: 100px;
    padding: 0.5rem;
}

.side-nav .profile img {
    width: 100%;
    height: 100%;
}

.side-nav .information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.side-nav .information p {
    color: white;
}

.side-nav .information .welcome-text {
    font-weight: 700;
    font-size: 1.2rem;
    color: white
}

.side-nav .navigation-section__title {
    background-color: rgb(34, 31, 31);
    color: rgb(43, 153, 243);
    padding: 1rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(78, 77, 77);
}

.side-nav .navigation-section__item {
    display: flex;
    flex-direction: column;
}

.side-nav .navigation-section__item tks-navigation-item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;    
    cursor: pointer;
    border-left: 0.3rem solid transparent;
    font-weight: 700;
    background-color: rgb(34, 31, 31);
    color: white;

}

.navigation-section__item--active {
    border-left: 0.3rem solid rgb(43, 153, 243)!important;
    color: rgb(43, 153, 243)!important;
    background-color: rgb(51, 48, 48)!important;
}

.active {
    border-bottom: 3px solid orangered;
}

.tab-container {
    display: flex;
    list-style: none;
    padding: 0px;
}

.tab-container__item {
    background-color: #c6c6c6;
    margin: 0;    
}

.button-container {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0px;
    border-bottom: 3px solid transparent;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.button-container:hover {
    background-color: orangered;
}

.button-container--active {
    border-bottom: 3px solid orangered;
    font-weight: 700;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}